<div class="container">
    <h2 class="form-header">Zmień hasło</h2>
    <form>
        <div class="form-group">
            <label class="form-label" for="password-input">Hasło</label>
            <input id="password-input" type="password" name="password" required minlength="3" maxlength="20" autofocus>
            <p class="invalid-input-message">Niewłaściwe hasło</p>
        </div>
        <div class="form-group">
            <label class="form-label" for="password-repeat-input">Powtórz Hasło</label>
            <input id="password-repeat-input" type="password" name="password-repeat" required minlength="3" maxlength="20">
            <p class="invalid-input-message">Niewłaściwie powtórzone hasło</p>
        </div>
        <button type="Submit">Zaloguj</button>
        <p class="invalid-form-message">Nieprawidłowe dane logowania</p>
    </form>
</div>
