<div class="container">
    <h2 class="form-header">Zmień hasło</h2>
    <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group">
            <label class="form-label" for="password-input">Hasło</label>
            <input 
                id="new-password-input" 
                type="password" 
                autofocus
                formControlName="new-password">
            <app-validation-messages *ngIf="form.submitted" [control]="passwordChangeForm.get('new-password')"></app-validation-messages>
        </div>
        <div class="form-group">
            <label class="form-label" for="password-repeat-input">Powtórz Hasło</label>
            <input 
                id="new-password-repeat-input" 
                type="password"
                formControlName="new-password-repeat"
                [class.ng-invalid]="passwordChangeForm.hasError('passwordRepeatMatch')">
                <app-validation-messages *ngIf="form.submitted" [control]="passwordChangeForm.get('new-password-repeat')"></app-validation-messages>
        </div>
        <button type="Submit">Zmień hasło</button>
        <p *ngIf="form.submitted && form.invalid" class="validation-message">Nieprawidłowo wypełniony formularz</p>
        <p *ngIf="form.hasError('unknownValidationError')" class="validation-message">Nieznany błąd walidacji formularza</p>
    </form>
</div>
