<div class="container">
    <h2 class="form-header">Zmień hasło</h2>
    <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group">
            <label class="form-label" for="password-input">Hasło</label>
            <input 
                id="new-password-input" 
                type="password" 
                autofocus
                formControlName="new-password">
            <p *ngIf="form.submitted && passwordChangeForm.get('new-password').hasError('required')" class="validation-message">Hasło jest wymagane</p>
            <p *ngIf="form.submitted && passwordChangeForm.get('new-password').hasError('minlength') && !passwordChangeForm.get('new-password').hasError('required')" class="validation-message">Hasło musi zawierać co najmniej 5 znaków</p>
            <p *ngIf="form.submitted && passwordChangeForm.get('new-password').hasError('maxlength') && !passwordChangeForm.get('new-password').hasError('required')" class="validation-message">Hasło może zawierać co najwyżej 20 znaków</p>
        </div>
        <div class="form-group">
            <label class="form-label" for="password-repeat-input">Powtórz Hasło</label>
            <input 
                id="new-password-repeat-input" 
                type="password"
                formControlName="new-password-repeat"
                [class.ng-invalid]="passwordChangeForm.hasError('passwordRepeatMatch')">
            <p *ngIf="form.submitted && passwordChangeForm.hasError('passwordRepeatMatch')" class="validation-message">Hasło oraz powtórzone hasło nie są takie same</p>
        </div>
        <button type="Submit">Zmień hasło</button>
        <p *ngIf="form.invalid" class="validation-message">Nieprawidłowo wypełniony formularz</p>
        <p *ngIf="form.hasError('unknownValidationError')" class="validation-message">Nieznany błąd walidacji formularza</p>
    </form>
</div>
