<div class="answer-component">
    <form>
        <div class="form-group">
            <label class="form-label" for="content-input">Twoja Odpowiedź</label>
            <textarea name="content" id="content-input" required placeholder="Tutaj wpisz swoją odpowiedź na pytanie" autofocus></textarea>
            <p class="invalid-input-message">Niewłaściwa treść odpowiedzi</p>
        </div>
        <div class="form-group">
            <label class="form-label" for="date-input">Data utworzenia</label>
            <input id="date-input" value="2000-01-01" type="date" required>
        </div>
        <div class="form-group">
            <label class="form-label" for="date-input">Data utworzenia</label>
            <input id="date-input" value="2000-01-01" type="date" required>
        </div>
        <div class="form-group">
            <label class="form-label" for="author-input">Autor</label>
            <select id="author-input" name="author">
                <option value="user1">user1</option>
                <option value="user2">user2</option>
                <option value="user3">user3</option>
                <option value="user4">user4</option>
            </select>
        </div>
        <button type="submit">Zatwierdź</button>
        <p class="invalid-form-message">Nieprawidłowo wypełniony formularz</p>         
    </form>
</div>
