<div class="form-container">
    <h2 class="form-header">Utwórz Pytanie - Admin</h2>
    <form [formGroup]="questionEditForm" (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group">
            <label class="form-label" for="title-input">Tytuł Pytania</label>
            <textarea
                formControlName="title"
                id="title-input" 
                placeholder="Tutaj wpisz skrócony opis pytania" 
                autofocus>
            </textarea>
            <p *ngIf="form.submitted && questionEditForm.get('title').hasError('required')" class="validation-message">Tytuł jest wymagany</p>
            <p *ngIf="form.submitted && questionEditForm.get('title').hasError('minlength') && questionEditForm.get('!title').hasError('required')" class="validation-message">Tytuł musi zawierać co najmniej 10 znaków</p>
        </div>
        <div class="form-group">
            <label class="form-label" for="content-input">Treść Pytania</label>
            <textarea 
                formControlName="content" 
                id="content-input" 
                placeholder="Tutaj wpisz szczegółowe pytanie wraz z detalami">
            </textarea>
        </div>
        <div class="form-group">
            <label class="form-label" for="date-input">Data utworzenia</label>
            <input 
                id="date-input" 
                formControlName="createdAt"
                type="date">
                <p *ngIf="form.submitted && questionEditForm.get('createdAt').hasError('required')" class="validation-message">Data utworzenia jest wymagana</p>
        </div>
        <div class="form-group">
            <label class="form-label" for="close-date-input">Data zamknięcia</label>
            <input
                id="close-date-input" 
                formControlName="closedAt"
                type="date">
            <p *ngIf="form.submitted && questionEditForm.get('closedAt').hasError('closedAtBeforeCreatedAt')" class="validation-message">Zamknięcie pytania nie może poprzedzać jego utworzenia</p>
        </div>
        <div class="form-group">
            <label class="form-label" for="author-input">Autor</label>
            <select id="author-input" formControlName="author">
                <option *ngFor="let user of users" [value]="user">{{ user }}</option>
            </select>
            <p *ngIf="form.submitted && questionEditForm.get('author').hasError('required')" class="validation-message">Autor jest wymagany</p>
        </div>
        <button type="submit">Zatwierdź</button>
        <p *ngIf="form.invalid && form.touched" class="validation-message">Nieprawidłowo wypełniony formularz</p>
        <p *ngIf="form.hasError('unknownValidationError')" class="validation-message">Nieznany błąd walidacji formularza</p>
    </form>
</div>
