<div *ngIf="!isEditMode" class="user-component">
    <span class="username">{{ user.username }}</span>
    <app-questions-button [routerLink]="['/questions', 'user-questions', user.username]">{{ 'Show questions' | translate }}</app-questions-button>
    <app-edit-button *ngIf="isQuestionOwnerOrAdmin()" (click)="onToggleOnEditMode()">{{ 'Edit username' | translate }}</app-edit-button>
    <app-password-button *ngIf="isQuestionOwnerOrAdmin()" [routerLink]="['..', user.username, 'change-password']">{{ 'Edit password' | translate }}</app-password-button>
    <app-delete-button *ngIf="isQuestionOwnerOrAdmin()" (click)="deleteUser()">{{ 'Delete' | translate }}</app-delete-button>
</div>
<div *ngIf="isEditMode" class="user-component">
    <form class="edit-username-form" [formGroup]="usernameEditForm" (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="input-with-validation-messages">
            <input formControlName="username" id="username-input" type="text" autofocus>
            <app-validation-messages *ngIf="form.submitted" [control]="usernameEditForm.get('username')"></app-validation-messages>
            <p *ngIf="form.hasError('unknownValidationError')" class="validation-message">{{ 'Unknown form validation error' | translate }}</p>
        </div>
        <button class="transparent-button confirm-username-button" type="submit">
            <svg class="confirm-form-icon" xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#000000" viewBox="0 0 256 256">
                <polyline points="216 72.005 104 184 48 128.005" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
            </svg>
        </button>
        <button class="transparent-button" type="button" (click)="onRejectUsernameChange()">
            <svg class="reject-form-icon" xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#000000" viewBox="0 0 256 256">
                <line x1="200" y1="56" x2="56" y2="200" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                <line x1="200" y1="200" x2="56" y2="56" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
            </svg>
        </button>
    </form>
</div>

