<div *ngIf="!isEditMode" class="user-component">
    <span class="username">{{ user.username }}</span>
    <app-questions-button [routerLink]="['/questions', 'user-questions', user.username]">Wyświetl pytania</app-questions-button>
    <app-edit-button (click)="onToggleOnEditMode()">Edytuj nazwę</app-edit-button>
    <app-password-button [routerLink]="['..', user.username, 'change-password']">Edytuj hasło</app-password-button>
    <app-delete-button (click)="deleteUser()">Usuń</app-delete-button>
</div>
<div *ngIf="isEditMode" class="user-component">
    <form class="edit-username-form" [formGroup]="usernameEditForm" (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="input-with-validation-messages">
            <input formControlName="username" id="username-input" type="text" autofocus>
            <p *ngIf="form.submitted && usernameEditForm.get('username').hasError('required')" class="validation-message">Nazwa użytkownika jest wymagana</p>
            <p *ngIf="form.submitted && usernameEditForm.get('username').hasError('minlength') && !usernameEditForm.get('username').hasError('required')" class="validation-message">Co najmniej 3 znaki</p>
            <p *ngIf="form.submitted && usernameEditForm.get('username').hasError('maxlength') && !usernameEditForm.get('username').hasError('required')" class="validation-message">Co najwyżej 20 znaki</p>
            <p *ngIf="form.submitted && usernameEditForm.get('username').hasError('usernameUsed')" class="validation-message">Nazwa użytkownika zajęta</p>
            <p *ngIf="form.hasError('unknownValidationError')" class="validation-message">Nieznany błąd walidacji formularza</p>
        </div>
        <button class="transparent-button confirm-username-button" type="submit">
            <svg class="confirm-form-icon" xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#000000" viewBox="0 0 256 256">
                <polyline points="216 72.005 104 184 48 128.005" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
            </svg>
        </button>
        <button class="transparent-button" type="button" (click)="onRejectUsernameChange()">
            <svg class="reject-form-icon" xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#000000" viewBox="0 0 256 256">
                <line x1="200" y1="56" x2="56" y2="200" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                <line x1="200" y1="200" x2="56" y2="56" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
            </svg>
        </button>
    </form>
</div>

